USE [master]
GO
/****** Object:  Database [VMP]    Script Date: 01.02.2026 20:26:32 ******/
CREATE DATABASE [VMP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VMP', FILENAME = N'D:\mssqlserver\MSSQL17.MSSQLSERVER\MSSQL\DATA\VMP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VMP_log', FILENAME = N'D:\mssqlserver\MSSQL17.MSSQLSERVER\MSSQL\DATA\VMP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VMP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VMP]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[idBrand] [int] NOT NULL,
	[idCompany] [int] NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_brands] PRIMARY KEY CLUSTERED 
(
	[idBrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[checking]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checking](
	[idCheck] [int] NOT NULL,
	[lastCheck] [date] NOT NULL,
	[interval] [int] NOT NULL,
	[nextCheck] [date] NOT NULL,
	[idMachine] [nvarchar](50) NOT NULL,
	[idUser] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_checking] PRIMARY KEY CLUSTERED 
(
	[idCheck] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[idCompany] [int] NOT NULL,
	[company] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_companies] PRIMARY KEY CLUSTERED 
(
	[idCompany] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[containProducts]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[containProducts](
	[idContain] [int] NOT NULL,
	[idProduct] [nvarchar](50) NOT NULL,
	[idMachine] [nvarchar](50) NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [PK_containProducts] PRIMARY KEY CLUSTERED 
(
	[idContain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[idCountry] [int] NOT NULL,
	[country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_countries] PRIMARY KEY CLUSTERED 
(
	[idCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[idInventory] [int] NOT NULL,
	[idUser] [nvarchar](50) NOT NULL,
	[idMachine] [nvarchar](50) NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [PK_inventory] PRIMARY KEY CLUSTERED 
(
	[idInventory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenace]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenace](
	[idMaintenace] [int] NOT NULL,
	[dateMaintenace] [datetime2](7) NOT NULL,
	[issuesFound] [nvarchar](50) NULL,
	[workDescription] [nvarchar](50) NOT NULL,
	[idUser] [nvarchar](50) NOT NULL,
	[idMachine] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_maintenace] PRIMARY KEY CLUSTERED 
(
	[idMaintenace] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[models]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[models](
	[idModel] [int] NOT NULL,
	[idBrand] [int] NOT NULL,
	[model] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_models] PRIMARY KEY CLUSTERED 
(
	[idModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payMethods]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payMethods](
	[idPayMethod] [int] NOT NULL,
	[payMethod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_payMethods] PRIMARY KEY CLUSTERED 
(
	[idPayMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[idProduct] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[price] [decimal](18, 3) NOT NULL,
	[minimalCount] [int] NOT NULL,
	[averageSale] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[idRole] [int] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[idSale] [int] NOT NULL,
	[timestamp] [nvarchar](50) NOT NULL,
	[idProduct] [nvarchar](50) NOT NULL,
	[totalPrice] [decimal](18, 3) NOT NULL,
	[quantity] [int] NOT NULL,
	[idPaymentMethod] [int] NOT NULL,
	[idMachine] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sales] PRIMARY KEY CLUSTERED 
(
	[idSale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statusesMachine]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusesMachine](
	[idStatus] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_statusesMachine] PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typesMachine]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typesMachine](
	[idType] [int] NOT NULL,
	[type] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_typesMachine] PRIMARY KEY CLUSTERED 
(
	[idType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[idUser] [nvarchar](50) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[patronymic] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[isManager] [bit] NOT NULL,
	[isEngineer] [bit] NOT NULL,
	[isOperator] [bit] NOT NULL,
	[idRole] [int] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendingMachines]    Script Date: 01.02.2026 20:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendingMachines](
	[idMachine] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[idModel] [int] NOT NULL,
	[idType] [int] NOT NULL,
	[totalIncome] [nvarchar](50) NOT NULL,
	[serialNumber] [nvarchar](50) NOT NULL,
	[inventoryNumber] [nvarchar](50) NOT NULL,
	[manufactureDate] [date] NOT NULL,
	[installDate] [date] NOT NULL,
	[resourceMachine] [int] NOT NULL,
	[serviceTime] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
	[idCountry] [int] NOT NULL,
 CONSTRAINT [PK_vendingMachines] PRIMARY KEY CLUSTERED 
(
	[idMachine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[brands] ([idBrand], [idCompany], [brand]) VALUES (1, 1, N'brand1')
INSERT [dbo].[brands] ([idBrand], [idCompany], [brand]) VALUES (2, 2, N'brand2')
INSERT [dbo].[brands] ([idBrand], [idCompany], [brand]) VALUES (3, 3, N'brand3')
GO
INSERT [dbo].[checking] ([idCheck], [lastCheck], [interval], [nextCheck], [idMachine], [idUser]) VALUES (1, CAST(N'2025-01-01' AS Date), 12, CAST(N'2026-01-01' AS Date), N'a977e322-192c-4567-9f5f-36f504bfc13d', N'7a051229-40bb-443e-80b8-024cb239f52b')
INSERT [dbo].[checking] ([idCheck], [lastCheck], [interval], [nextCheck], [idMachine], [idUser]) VALUES (2, CAST(N'2025-01-02' AS Date), 12, CAST(N'2026-01-02' AS Date), N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5', N'7a051229-40bb-443e-80b8-024cb239f52b')
INSERT [dbo].[checking] ([idCheck], [lastCheck], [interval], [nextCheck], [idMachine], [idUser]) VALUES (3, CAST(N'2025-01-03' AS Date), 12, CAST(N'2026-01-03' AS Date), N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', N'c59a07db-17d1-4769-9d5c-19c0ab4d435c')
GO
INSERT [dbo].[companies] ([idCompany], [company]) VALUES (1, N'ООО Торговые Аппараты')
INSERT [dbo].[companies] ([idCompany], [company]) VALUES (2, N'ООО Про Вендинг Групп')
INSERT [dbo].[companies] ([idCompany], [company]) VALUES (3, N'ООО ВендингСервис Плюс')
GO
INSERT [dbo].[containProducts] ([idContain], [idProduct], [idMachine], [count]) VALUES (1, N'a90eaff4-e8bd-400f-a4b9-63cc6e0bcb54', N'a977e322-192c-4567-9f5f-36f504bfc13d', 12)
INSERT [dbo].[containProducts] ([idContain], [idProduct], [idMachine], [count]) VALUES (2, N'f3dc17fc-f9fe-4beb-93f4-a27a02adb152', N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5', 13)
INSERT [dbo].[containProducts] ([idContain], [idProduct], [idMachine], [count]) VALUES (3, N'e9aa2886-0ba0-4b7a-96dc-078855f99872', N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 12)
GO
INSERT [dbo].[countries] ([idCountry], [country]) VALUES (1, N'Россия')
INSERT [dbo].[countries] ([idCountry], [country]) VALUES (2, N'Япония')
INSERT [dbo].[countries] ([idCountry], [country]) VALUES (3, N'США')
GO
INSERT [dbo].[inventory] ([idInventory], [idUser], [idMachine], [count]) VALUES (1, N'7a051229-40bb-443e-80b8-024cb239f52b', N'a977e322-192c-4567-9f5f-36f504bfc13d', 50)
INSERT [dbo].[inventory] ([idInventory], [idUser], [idMachine], [count]) VALUES (2, N'7a051229-40bb-443e-80b8-024cb239f52b', N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5', 55)
INSERT [dbo].[inventory] ([idInventory], [idUser], [idMachine], [count]) VALUES (3, N'c59a07db-17d1-4769-9d5c-19c0ab4d435c', N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 50)
GO
INSERT [dbo].[maintenace] ([idMaintenace], [dateMaintenace], [issuesFound], [workDescription], [idUser], [idMachine]) VALUES (1, CAST(N'2024-09-13T16:44:00.0000000' AS DateTime2), N'Зависла сессия оплаты', N'Замена дисплея', N'7a051229-40bb-443e-80b8-024cb239f52b', N'a977e322-192c-4567-9f5f-36f504bfc13d')
INSERT [dbo].[maintenace] ([idMaintenace], [dateMaintenace], [issuesFound], [workDescription], [idUser], [idMachine]) VALUES (2, CAST(N'2024-04-25T06:59:00.0000000' AS DateTime2), N'Проблемы с термобумагой', N'Чистка внутренних узлов', N'7a051229-40bb-443e-80b8-024cb239f52b', N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5')
INSERT [dbo].[maintenace] ([idMaintenace], [dateMaintenace], [issuesFound], [workDescription], [idUser], [idMachine]) VALUES (3, CAST(N'2024-07-12T19:03:00.0000000' AS DateTime2), N'Проблемы с термобумагой', N'Ремонт купюроприемника', N'c59a07db-17d1-4769-9d5c-19c0ab4d435c', N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a')
GO
INSERT [dbo].[models] ([idModel], [idBrand], [model]) VALUES (1, 1, N'Saeco Cristallo 400')
INSERT [dbo].[models] ([idModel], [idBrand], [model]) VALUES (2, 1, N'Necta Kikko Max')
INSERT [dbo].[models] ([idModel], [idBrand], [model]) VALUES (3, 2, N'Unicum Food Box')
GO
INSERT [dbo].[payMethods] ([idPayMethod], [payMethod]) VALUES (1, N'PaymentMethod.cash')
INSERT [dbo].[payMethods] ([idPayMethod], [payMethod]) VALUES (2, N'PaymentMethod.qr')
INSERT [dbo].[payMethods] ([idPayMethod], [payMethod]) VALUES (3, N'PaymentMethod.card')
GO
INSERT [dbo].[products] ([idProduct], [name], [description], [price], [minimalCount], [averageSale]) VALUES (N'069d1026-82b5-4365-8481-1b38fe50307c', N'Кофе 3 в 2', N'Бутилированная питьевая вода', CAST(119.197 AS Decimal(18, 3)), 11, CAST(5.590 AS Decimal(18, 3)))
INSERT [dbo].[products] ([idProduct], [name], [description], [price], [minimalCount], [averageSale]) VALUES (N'075ac323-7649-44e8-bbff-60cbda965c47', N'Pepsi', N'Чай со вкусом лимона', CAST(104.330 AS Decimal(18, 3)), 8, CAST(5.560 AS Decimal(18, 3)))
INSERT [dbo].[products] ([idProduct], [name], [description], [price], [minimalCount], [averageSale]) VALUES (N'121d56e4-dc5b-43c3-8658-d1a00f8cbf76', N'Snickers', N'Шоколадный батончик с орехами и карамелью', CAST(99.374 AS Decimal(18, 3)), 8, CAST(5.540 AS Decimal(18, 3)))
GO
INSERT [dbo].[roles] ([idRole], [role]) VALUES (1, N'Франчайзи')
INSERT [dbo].[roles] ([idRole], [role]) VALUES (2, N'Персонал')
GO
INSERT [dbo].[sales] ([idSale], [timestamp], [idProduct], [totalPrice], [quantity], [idPaymentMethod], [idMachine]) VALUES (1, N'2024-11-27 14:47:37.871479', N'a90eaff4-e8bd-400f-a4b9-63cc6e0bcb54', CAST(672.550 AS Decimal(18, 3)), 5, 1, N'a977e322-192c-4567-9f5f-36f504bfc13d')
INSERT [dbo].[sales] ([idSale], [timestamp], [idProduct], [totalPrice], [quantity], [idPaymentMethod], [idMachine]) VALUES (2, N'2025-01-16 04:40:42.804088', N'f3dc17fc-f9fe-4beb-93f4-a27a02adb152', CAST(608.550 AS Decimal(18, 3)), 5, 2, N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5')
INSERT [dbo].[sales] ([idSale], [timestamp], [idProduct], [totalPrice], [quantity], [idPaymentMethod], [idMachine]) VALUES (3, N'2025-01-13 06:51:25.062189', N'e9aa2886-0ba0-4b7a-96dc-078855f99872', CAST(279.100 AS Decimal(18, 3)), 2, 1, N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a')
GO
INSERT [dbo].[statusesMachine] ([idStatus], [status]) VALUES (1, N'Не рабочий')
INSERT [dbo].[statusesMachine] ([idStatus], [status]) VALUES (2, N'Рабочий')
INSERT [dbo].[statusesMachine] ([idStatus], [status]) VALUES (3, N'На обслуживании')
GO
INSERT [dbo].[typesMachine] ([idType], [type]) VALUES (1, N'Модуль б/н оплаты, Монетоприемник, Купюроприемник')
INSERT [dbo].[typesMachine] ([idType], [type]) VALUES (2, N'Монетоприемник')
INSERT [dbo].[typesMachine] ([idType], [type]) VALUES (3, N'Купюроприемник, Монетоприемник, Qr-платежи')
GO
INSERT [dbo].[users] ([idUser], [surname], [name], [patronymic], [email], [phone], [password], [isManager], [isEngineer], [isOperator], [idRole]) VALUES (N'01f0b7d3-9b64-49d0-b63e-9190d736d091', N'Тимофеева', N'Наталья', N'Николаевна', N'leonid_53@example.com', N'80902990930', N'01f0b7d3-9b64-49d0-b63e-9190d736d091', 0, 1, 0, 2)
INSERT [dbo].[users] ([idUser], [surname], [name], [patronymic], [email], [phone], [password], [isManager], [isEngineer], [isOperator], [idRole]) VALUES (N'108519e5-d8b4-419a-ac60-4bedecc9e204', N'Исаков', N'Варлаам', N'Викентьевич', N'gleb_1990@example.com', N'77443080370', N'108519e5-d8b4-419a-ac60-4bedecc9e204', 0, 0, 0, 1)
INSERT [dbo].[users] ([idUser], [surname], [name], [patronymic], [email], [phone], [password], [isManager], [isEngineer], [isOperator], [idRole]) VALUES (N'20b7e4c6-0cba-4eb4-afa9-4d3a6a8d34c6', N'Родионов', N'Герман', N'Трофимович', N'ladislav1994@example.com', N'85246449886', N'20b7e4c6-0cba-4eb4-afa9-4d3a6a8d34c6', 0, 0, 0, 1)
GO
INSERT [dbo].[vendingMachines] ([idMachine], [name], [location], [idModel], [idType], [totalIncome], [serialNumber], [inventoryNumber], [manufactureDate], [installDate], [resourceMachine], [serviceTime], [idStatus], [idCountry]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', N'ТРЦ Галактика', N'ТРЦ Галактика, г. Казань', 3, 3, N'1 336 615', N'3500068398', N'7599500901', CAST(N'2013-01-03' AS Date), CAST(N'2019-01-01' AS Date), 2000, 12, 1, 3)
INSERT [dbo].[vendingMachines] ([idMachine], [name], [location], [idModel], [idType], [totalIncome], [serialNumber], [inventoryNumber], [manufactureDate], [installDate], [resourceMachine], [serviceTime], [idStatus], [idCountry]) VALUES (N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d5', N'Офис Газпром', N'Офис Газпром, г. Санкт-Петербург', 4, 4, N'37 747', N'6988222997', N'3646024056', CAST(N'2013-01-04' AS Date), CAST(N'2018-06-22' AS Date), 2500, 13, 1, 1)
INSERT [dbo].[vendingMachines] ([idMachine], [name], [location], [idModel], [idType], [totalIncome], [serialNumber], [inventoryNumber], [manufactureDate], [installDate], [resourceMachine], [serviceTime], [idStatus], [idCountry]) VALUES (N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d6', N'Автовокзал', N'Автовокзал, г. Уфа', 7, 10, N'267 507', N'3198415720', N'7683777214', CAST(N'2013-01-12' AS Date), CAST(N'2019-12-30' AS Date), 3200, 14, 2, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UnInventNumber]    Script Date: 01.02.2026 20:26:33 ******/
ALTER TABLE [dbo].[vendingMachines] ADD  CONSTRAINT [UnInventNumber] UNIQUE NONCLUSTERED 
(
	[inventoryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UnSerialNumber]    Script Date: 01.02.2026 20:26:33 ******/
ALTER TABLE [dbo].[vendingMachines] ADD  CONSTRAINT [UnSerialNumber] UNIQUE NONCLUSTERED 
(
	[serialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[brands]  WITH CHECK ADD  CONSTRAINT [FK_brands_companies] FOREIGN KEY([idCompany])
REFERENCES [dbo].[companies] ([idCompany])
GO
ALTER TABLE [dbo].[brands] CHECK CONSTRAINT [FK_brands_companies]
GO
ALTER TABLE [dbo].[checking]  WITH CHECK ADD  CONSTRAINT [FK_checking_users] FOREIGN KEY([idUser])
REFERENCES [dbo].[users] ([idUser])
GO
ALTER TABLE [dbo].[checking] CHECK CONSTRAINT [FK_checking_users]
GO
ALTER TABLE [dbo].[checking]  WITH CHECK ADD  CONSTRAINT [FK_checking_vendingMachines] FOREIGN KEY([idMachine])
REFERENCES [dbo].[vendingMachines] ([idMachine])
GO
ALTER TABLE [dbo].[checking] CHECK CONSTRAINT [FK_checking_vendingMachines]
GO
ALTER TABLE [dbo].[containProducts]  WITH CHECK ADD  CONSTRAINT [FK_containProducts_products] FOREIGN KEY([idProduct])
REFERENCES [dbo].[products] ([idProduct])
GO
ALTER TABLE [dbo].[containProducts] CHECK CONSTRAINT [FK_containProducts_products]
GO
ALTER TABLE [dbo].[containProducts]  WITH CHECK ADD  CONSTRAINT [FK_containProducts_vendingMachines] FOREIGN KEY([idMachine])
REFERENCES [dbo].[vendingMachines] ([idMachine])
GO
ALTER TABLE [dbo].[containProducts] CHECK CONSTRAINT [FK_containProducts_vendingMachines]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FK_inventory_users] FOREIGN KEY([idUser])
REFERENCES [dbo].[users] ([idUser])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FK_inventory_users]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FK_inventory_vendingMachines] FOREIGN KEY([idMachine])
REFERENCES [dbo].[vendingMachines] ([idMachine])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FK_inventory_vendingMachines]
GO
ALTER TABLE [dbo].[maintenace]  WITH CHECK ADD  CONSTRAINT [FK_maintenace_users] FOREIGN KEY([idUser])
REFERENCES [dbo].[users] ([idUser])
GO
ALTER TABLE [dbo].[maintenace] CHECK CONSTRAINT [FK_maintenace_users]
GO
ALTER TABLE [dbo].[maintenace]  WITH CHECK ADD  CONSTRAINT [FK_maintenace_vendingMachines] FOREIGN KEY([idMachine])
REFERENCES [dbo].[vendingMachines] ([idMachine])
GO
ALTER TABLE [dbo].[maintenace] CHECK CONSTRAINT [FK_maintenace_vendingMachines]
GO
ALTER TABLE [dbo].[models]  WITH CHECK ADD  CONSTRAINT [FK_models_brands] FOREIGN KEY([idBrand])
REFERENCES [dbo].[brands] ([idBrand])
GO
ALTER TABLE [dbo].[models] CHECK CONSTRAINT [FK_models_brands]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK_sales_payMethods] FOREIGN KEY([idPaymentMethod])
REFERENCES [dbo].[payMethods] ([idPayMethod])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK_sales_payMethods]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK_sales_products] FOREIGN KEY([idProduct])
REFERENCES [dbo].[products] ([idProduct])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK_sales_products]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK_sales_vendingMachines] FOREIGN KEY([idMachine])
REFERENCES [dbo].[vendingMachines] ([idMachine])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK_sales_vendingMachines]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([idRole])
REFERENCES [dbo].[roles] ([idRole])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[vendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_vendingMachines_countries] FOREIGN KEY([idCountry])
REFERENCES [dbo].[countries] ([idCountry])
GO
ALTER TABLE [dbo].[vendingMachines] CHECK CONSTRAINT [FK_vendingMachines_countries]
GO
ALTER TABLE [dbo].[vendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_vendingMachines_statusesMachine] FOREIGN KEY([idStatus])
REFERENCES [dbo].[statusesMachine] ([idStatus])
GO
ALTER TABLE [dbo].[vendingMachines] CHECK CONSTRAINT [FK_vendingMachines_statusesMachine]
GO
ALTER TABLE [dbo].[vendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_vendingMachines_typesMachine] FOREIGN KEY([idType])
REFERENCES [dbo].[typesMachine] ([idType])
GO
ALTER TABLE [dbo].[vendingMachines] CHECK CONSTRAINT [FK_vendingMachines_typesMachine]
GO
ALTER TABLE [dbo].[vendingMachines]  WITH CHECK ADD  CONSTRAINT [InstallDateCheck] CHECK  (([installDate]>=[manufactureDate]))
GO
ALTER TABLE [dbo].[vendingMachines] CHECK CONSTRAINT [InstallDateCheck]
GO
ALTER TABLE [dbo].[vendingMachines]  WITH CHECK ADD  CONSTRAINT [resourceCheckConstraint] CHECK  (([resourceMachine]>(0)))
GO
ALTER TABLE [dbo].[vendingMachines] CHECK CONSTRAINT [resourceCheckConstraint]
GO
ALTER TABLE [dbo].[vendingMachines]  WITH CHECK ADD  CONSTRAINT [serviceTimeCheck] CHECK  (([serviceTime]>=(1) AND [serviceTime]<=(20)))
GO
ALTER TABLE [dbo].[vendingMachines] CHECK CONSTRAINT [serviceTimeCheck]
GO
USE [master]
GO
